{# templates/about.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <img src="{{ asset('images/image2.jpg') }}" alt="Image 1">
    <h2>built with LOVE by your_name</h2>
    <a href="{{ path('app_home') }}">Home page</a>
{% endblock %}

